{% extends "layouts/master.html" %} 
{% block content %} 
{% load static %}
{% include 'layouts/breadcrumb.html' %}
  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="card mb-6">
        <h5 class="card-header">Common Question Add</h5>
        <hr>
        <form class="card-body" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row g-6">
              <div class="col-md-6">
                  <label class="form-label" for="crm_id">Institute</label>
                  {% comment %} <select id="crm_id" name="crm_id" class="form-select select2" multiple>
                      <option value="" disabled {% if not request.POST.crm_id %}selected{% endif %}>Select Institute</option>
                        {% for institute in institutes %}
                          <option value="{{ institute.id }}" {% if request.POST.crm_id == institute.id|stringformat:"s" %}selected{% endif %}>
                            {{ institute.institute_name }}
                          </option>
                        {% endfor %}
                  </select> {% endcomment %}
                  <select id="crm_id" name="crm_id" class="form-select select2" multiple>
                    <option value="" disabled>Select Institute</option>
                    {% for institute in institutes %}
                        <option value="{{ institute.id }}"
                            {% if institute.id|stringformat:"s" in selected_crm_ids %}
                                selected
                            {% endif %}
                        >
                            {{ institute.institute_name }}
                        </option>
                    {% endfor %}
                </select>


                  {% if errors.crm_id %}
                      <small class="text-danger">{{ errors.crm_id }}</small>
                  {% endif %}
              </div>
                <div class="col-md-6 mt-2 mt-md-0">
                  <label class="form-label" for="question">Question</label>
                  <input type="text" id="question" name="question" class="form-control" placeholder="Question" value="{{ request.POST.question|default:'' }}">
                  {% if errors.question %}
                      <small class="text-danger">{{ errors.question }}</small>
                  {% endif %}
                </div>
                
              
            </div>
            <div class="row g-3 mt-3">
            <div class="col-md-6">
            <label class="form-label" for="time_limit">Answer Time (seconds)</label>
            <input type="number" id="time_limit" name="time_limit" class="form-control" placeholder="30" value="{{ request.POST.time_limit|default:'30' }}" min="1">
            {% if errors.time_limit %}
                <small class="text-danger">{{ errors.time_limit }}</small>
            {% endif %}
        </div>
    </div>
            <div class="pt-6">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </form>
      </div>

    </div>

{% endblock %}