{% load static %}
<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" data-template="vertical-menu-template-free">
{% include "layouts/head.html" %}

<body>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card" style="width: 100%; max-width: 500px">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <img src="{% static 'img/logo/Ascencia-Malta-Logo.svg' %}" alt="AI Interview" class="img-fluid" style="max-width: 30%; height: auto;"/>
            </div>
          
            <!-- /Logo -->
            {% comment %}
            <h4 class="mb-2">Welcome to Sneat! 👋</h4>
            {% endcomment %}
            {% comment %} <p class="mb-4">
              Please sign-in to your account and start the adventure
            </p> {% endcomment %}

            {% if messages %}
            <div class="messages" id="message-container">
              {% for message in messages %}
              <p class="alert alert-danger {{ message.tags }}">
                {{ message }}
              </p>
              {% endfor %}
            </div>
            {% endif %}
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email"
                  autofocus />
              </div>
              <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                  <label class="form-label" for="password">Password</label>
                  <!-- <a href="auth-forgot-password-basic.html">
                        <small>Forgot Password?</small>
                        </a> -->
                </div>
                <div class="input-group input-group-merge">
                  <input type="password" id="password" class="form-control" name="password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password" />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">
                  Sign in
                </button>
              </div>
            </form>
            <!-- 
              <p class="text-center">
                <span>New on our platform?</span>
                <a href="auth-register-basic.html">
                  <span>Create an account</span>
                </a>
              </p> -->
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>

  <!-- / Content -->

  {% comment %} <div class="buy-now">
    <a href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/" target="_blank"
      class="btn btn-danger btn-buy-now">Upgrade to Pro</a>
  </div> {% endcomment %}

  {% include "layouts/script.html" %}
</body>

</html>