{% extends "layouts/master.html" %} 
{% block content %} 
{% load static %}
  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <!-- DataTable with Buttons -->
      <div class="card">
        <div class="card-datatable text-nowrap">
          <div id="DataTables_Table_0_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
            <div class="row card-header flex-column flex-md-row pb-0">
              <div class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto mt-0">
                <h5 class="card-title mb-0 text-md-start text-center">
                  Course Table
                </h5>
              </div>
              <div class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto mt-0">
                <div class="dt-buttons btn-group flex-wrap mb-0">
                  <!-- <div class="btn-group">
                    <button class="btn buttons-collection btn-label-primary dropdown-toggle me-4" tabindex="0"
                      aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog" aria-expanded="false"
                      fdprocessedid="7lkvq5">
                      <span><span class="d-flex align-items-center gap-2"><i class="icon-base bx bx-export me-sm-1"></i>
                          <span class="d-none d-sm-inline-block">Export</span></span></span>
                    </button>
                  </div> -->
                  <a href="{% url 'course_add' %}" class="btn create-new btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button"
                    fdprocessedid="gbgsua">
                    <span><span class="d-flex align-items-center gap-2"><i class="icon-base bx bx-plus icon-sm"></i>
                        <span class="d-none d-sm-inline-block">Add Course</span></span></span>
                    </a>
                </div>
              </div>
            </div>
            <hr>
            <div class="justify-content-between dt-layout-table">
              <div class="d-md-flex justify-content-between align-items-center col-12 dt-layout-full col-md">
                <table class="datatables-basic table table-bordered table-responsive dataTable dtr-column display nowrap"
                  id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%">
                  <thead class="table-light">
                    <tr>
                      <th>
                        <input class="form-check-input" type="checkbox" aria-label="Select all rows" />
                      </th>
                      <th>Course Name</th>
                      <th>Institute Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for course in courses %}
                    <tr>
                      <td><input class="form-check-input" type="checkbox" aria-label="Select row" /></td>
                      <td class="text-start">{{ course.course_name }}</td>
                      <td class="text-start">{{ course.institute_id }}</td>
                      <td>
                        <!-- Update Link -->
                        <a href="{% url 'course_update' id=course.encoded_id %}" class="btn btn-warning btn-sm text-white">
                          <i class="bx bx-edit"></i> Edit
                        </a>
                        <!-- Delete Link with Confirmation -->
                        <a href="javascript:void(0);" 
                           onclick="confirmDelete('{{ course.encoded_id }}', '/adminpanel/course/delete/')" 
                           class="btn btn-danger btn-sm text-white">
                          <i class="bx bx-trash"></i> Delete
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot></tfoot>
                </table>
              </div>
            </div>
            
            {% comment %} <div class="row mx-3 justify-content-between">
              <div class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto mt-0">
                <div class="dt-info" aria-live="polite" id="DataTables_Table_0_info" role="status">
                  Showing 1 to 10 of 100 entries
                </div>
              </div>
              <div class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto mt-0">
                <div class="dt-paging">
                  <nav aria-label="pagination">
                    <ul class="pagination">
                      <li class="dt-paging-button page-item disabled">
                        <button class="page-link previous" role="link" type="button" aria-controls="DataTables_Table_0"
                          aria-disabled="true" aria-label="Previous" data-dt-idx="previous" tabindex="-1">
                          <i class="icon-base bx bx-chevron-left scaleX-n1-rtl icon-sm"></i>
                        </button>
                      </li>
                      <li class="dt-paging-button page-item active">
                        <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0"
                          aria-current="page" data-dt-idx="0" fdprocessedid="5741ql">
                          1
                        </button>
                      </li>
                      <li class="dt-paging-button page-item">
                        <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0"
                          data-dt-idx="1" fdprocessedid="od8bui">
                          2
                        </button>
                      </li>
                      <li class="dt-paging-button page-item">
                        <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0"
                          data-dt-idx="2" fdprocessedid="rk5ulw">
                          3
                        </button>
                      </li>
                      <li class="dt-paging-button page-item">
                        <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0"
                          data-dt-idx="3" fdprocessedid="h6stpx">
                          4
                        </button>
                      </li>
                      <li class="dt-paging-button page-item">
                        <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0"
                          data-dt-idx="4" fdprocessedid="nevi2r">
                          5
                        </button>
                      </li>
                      <li class="dt-paging-button page-item disabled">
                        <button class="page-link ellipsis" role="link" type="button" aria-controls="DataTables_Table_0"
                          aria-disabled="true" data-dt-idx="ellipsis" tabindex="-1">
                          …
                        </button>
                      </li>
                      <li class="dt-paging-button page-item">
                        <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0"
                          data-dt-idx="9" fdprocessedid="r3ld5b">
                          10
                        </button>
                      </li>
                      <li class="dt-paging-button page-item">
                        <button class="page-link next" role="link" type="button" aria-controls="DataTables_Table_0"
                          aria-label="Next" data-dt-idx="next" fdprocessedid="mxxepw">
                          <i class="icon-base bx bx-chevron-right scaleX-n1-rtl icon-sm"></i>
                        </button>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
      <!--/ DataTable with Buttons -->

    </div>

{% endblock %}